# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
env/

# Distribution / packaging
build/
.tmpbuild/
tests/
dist/
*.egg-info/
.velix/

# Logs
*.log
.fuse_hidden000003ae0000000e

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints/

# Environment variables
.env

.ruff_cache
kill_all.sh
memory/user.md
memory/conversations/
memory/daily_summaries/
chat/.terminal_user_id
agent_playground/
memory/agentfiles/
memory/sessions/
session_index.json
memory/.session_search_index.db